<?php
/**
 *
 * @category    design
 * @package     default_default
 */
?>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-customer-view"><?php echo Mage::helper('practice_reward')->__('Reward Points Balance') ?></h4>
    </div>
    <fieldset>
        <?php echo $this->getChildHtml('grid') ?>
    </fieldset>
</div>
