<?php
/**
 *
 * @category    design
 * @package     default_default
 */
?>

<?php
/**
 * @see Practice_Reward_Block_Customer_Reward_Settings
 */
?>
<form action="<?php echo $this->getUrl('reward/customer/saveSettings') ?>" method="post" id="form-validate">
<div class="box">
    <?php echo $this->getBlockHtml('formkey')?>
    <h2 class="sub-title"><?php echo $this->__('Email Notification Settings'); ?></h2>
    <ul class="form-list">
        <li class="control">
            <span class="input-box"><input type="checkbox" name="subscribe_updates" id="subscribe_updates" value="1" title="<?php echo $this->__('Subscribe for balance updates') ?>"<?php if($this->isSubscribedForUpdates()): ?> checked="checked"<?php endif; ?> class="checkbox" /></span><label for="subscribe_updates"><?php echo $this->__('Subscribe for balance updates') ?></label>
        </li>
        <li class="control">
            <span class="input-box"><input type="checkbox" name="subscribe_warnings" id="subscribe_warnings" value="1"<?php if($this->isSubscribedForWarnings()): ?> checked="checked"<?php endif; ?> class="checkbox" /></span><label for="subscribe_warnings"><?php echo $this->__('Subscribe for points expiration notifications') ?></label>
        </li>
    </ul>
</div>
<div class="buttons-set btn-only">
    <button type="submit" class="button" title="<?php echo $this->__('Save Subscription Settings') ?>"><span><span><?php echo $this->__('Save Subscription Settings') ?></span></span></button>
</div>
</form>
