<?php
/**
 *
 * @category    design
 * @package     default_default
 */
?>
<?php if ((float) $this->getSource()->getRewardPointsBalanceToRefund()): ?>
    <tr>
        <td class="label"><strong><?php echo Mage::helper('practice_reward')->__('Reward Points refunded to customer') ?></strong></td>
        <td><strong><?php echo $this->getSource()->getRewardPointsBalanceToRefund(); ?></strong></td>
    </tr>
<?php endif; ?>
