<?php
/**
 *
 * @category    design
 * @package     default_default
 */
?>
<?php $this->setPriceDataObject($this->getSource()) ?>

<?php if ((float) $this->getSource()->getRewardCurrencyAmount()): ?>
    <tr>
        <td class="label"><?php echo Mage::helper('practice_reward')->formatReward($this->getSource()->getRewardPointsBalance()) ?></td>
        <td>
            <?php echo $this->displayPrices(-$this->getSource()->getBaseRewardCurrencyAmount(), -$this->getSource()->getRewardCurrencyAmount()); ?>
        </td>
    </tr>
<?php endif; ?>
